@import 'src/scss/variables';

.mat-form-field {
  margin-bottom: 20px;
}

form {
  margin: 40px 64px 40px 128px;
}


.bxs-checkout-form__submit-btn {
  align-self: flex-end;
}

// mobile view
@media(max-width: $max-width) {

  form {
    margin: 130px 40px 45px 40px;
  }

  .bxs-checkout-form__submit-btn {
    align-self: auto;
  }
}
