@import 'src/scss/material-theme';

// importing only the bootstrap utilities
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

@import '~bootstrap/scss/utilities/align';
@import '~bootstrap/scss/utilities/borders';
@import '~bootstrap/scss/utilities/clearfix';
@import '~bootstrap/scss/utilities/display';
@import '~bootstrap/scss/utilities/embed';
@import '~bootstrap/scss/utilities/flex';
@import '~bootstrap/scss/utilities/float';
@import '~bootstrap/scss/utilities/overflow';
@import '~bootstrap/scss/utilities/position';
@import '~bootstrap/scss/utilities/screenreaders';
@import '~bootstrap/scss/utilities/sizing';
@import '~bootstrap/scss/utilities/stretched-link';
@import '~bootstrap/scss/utilities/spacing';
@import '~bootstrap/scss/utilities/text';
@import '~bootstrap/scss/utilities/visibility';


@import 'src/scss/colors';
@import 'src/scss/variables';

/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { 
  margin: 0;
  font-family: Verdana, "Helvetica Neue", sans-serif;
  background-color: $alabaster;
  min-height: 100vh;
}

.app-content {
  height: 100%;
  max-width: 1105px;
  margin: auto;
}

// mobile view
@media(max-width: $max-width) {
  .app-content {
    max-width: 100%;
    margin: unset;
  }
  .app-hide-on-mobile {
    display: none !important;
  }
}

// all primary buttons
button[color="primary"] {
  min-width: 246px;
  min-height: 51px;
  border-radius: 10px;
  letter-spacing: 1px;
  font-size: 18px;
}
input.mat-input-element {
  font: 17px/22px Verdana;
  color: $mineshaft;
}
label.mat-form-field-label {
  font: 17px Verdana;
  color: $silver !important; // TODO: find a better way to apply this color
}

// material customizations
// for this class need to be applied globally
// otherwise the width: auto will not be considered 
.bxs-checkout-form {
  .mat-form-field-infix {
    width: auto;
  }
}