@import 'src/scss/colors';
@import 'src/scss/variables';

h3 {
  font: Bold 16px/20px Verdana;
}

.bxs-checkout {
  min-height: 596px;
  min-width: 1024px;
}

.bxs-checkout-header {
  background-color: $primary;
  flex-grow: 1;
}
.bxs-checkout-lg-back {
  width: 8px;
  height: 14px;
  color: $white;
  padding-left: 53px;
  position: relative;
  cursor: pointer;
  top: 40px;
  font: 13px/22px Verdana;
}

.bxs-checkout-cardcontent {
  z-index: 1;
  margin: 120px -64px 0 -302px;
}
.bxs-checkout-cardtitle {
  color: $white;
}
.bxs-checkout-card,
.bxs-checkout-cardimg {
  width: 365px;
  height: 250px;
}
.bxs-checkout-cardnumber {
  border: 0;
  background-color: transparent;
  color: $white;
  text-shadow: 0px 1px 2px #000000;
  font: 26px "SF Pro Text";

  letter-spacing: 2.50px;
  position: absolute;
  margin-top: 101px;
  margin-left: 30px;
}

.bxs-checkout-content {
  background-color: $white;
  flex-grow: 2;
  max-width: 672px;
}

// mobile view
@media(max-width: $max-width) {
  .bxs-checkout {
    flex-direction: column;
    min-width: 100vw;
    max-width: 100vw;
    height: 100%;
  }
  .bxs-checkout-header {
    height: 240px;
    min-height: 240px;
    flex-grow: 0;
  }
  .bxs-checkout-card,
  .bxs-checkout-cardimg {
    width: 280px;
    height: 190px;
  }
  .bxs-checkout-cardnumber {  
    letter-spacing: 1.52px;
    margin-top: 75px;
    margin-left: 22px;
    font-size: 21px;
  }
  .bxs-checkout-cardcontent {
    margin: -177px auto -85px auto;
  }
  .bxs-checkout-cardtitle {
    justify-content: center;
  }
  .bxs-checkout-content {
    max-width: 100%;
  }
}