<div class="bxs-checkout d-flex">

  <div class="bxs-checkout__header">

    <a class="bxs-checkout__back-btn
      app-hide-on-mobile d-flex align-items-center"
      (click)="handleBackToPayments()">

      <i class="material-icons">keyboard_arrow_left</i>
      <span class="pl-3">Alterar forma de pagamento</span>
    </a>
  </div>

  <div class="bxs-checkout__card-content">
  
    <div class="bxs-checkout__card-title
      d-flex">
      <img src="assets/img/card-icon.svg" class="pr-3">
      <h3>Adicione um novo <br>cartão de crédito</h3>
    </div>

    <div class="bxs-checkout__card-wrapper" [ngClass]="{
      '-focus-cvv': isCvvFocus
    }">

      <!-- Cards backgrounds -->
      <div class="bxs-checkout__card-img
        flex-column align-items-center
        {{cardType}}">

        <div class="bxs-checkout__card-info
          flex-column justify-content-between h-100">

            <div class="bxs-checkout__card-icon" [ngClass]="cardType"></div>

            <label class="bxs-checkout__card-number" [innerHTML]="cardNumber"></label><br>

            <div class="bxs-checkout__card-footer
              d-flex flex-grow-1 justify-content-between w-100">

              <label class="bxs-checkout__card-name">{{cardName}}</label>
              <label class="bxs-checkout__card-date">{{cardDate}}</label>
            </div>
        </div>
      </div>

      <!-- CVV backgrounds -->
      <div class="bxs-checkout__card-img-cvv
        {{cardType}}">
      </div>
    </div>

  </div>

  <div class="bxs-checkout__content d-flex flex-column">

    <div class="bxs-checkout__menu">
      <bxs-step-menu
        [checkedIndex]="lastMenuIndex"
        [steps]="steps"
        (eChange)="handleStepChange($event)">
      </bxs-step-menu>
    </div>

    <bxs-checkout-form
      (eCvvFocus)="handleCvvFocus()"
      (eCvvBlur)="handleCvvBlur()"
      (eCardType)="handleCardType($event)"
      (eChanges)="handleChanges($event)"
      (ePayment)="handlePayment($event)">
    </bxs-checkout-form>
  </div>

</div>