<div class="bxs-checkout d-flex">

  <div class="bxs-checkout-header">

    <a class="bxs-checkout-lg-back app-hide-on-mobile" (click)="handleBackToPaymentSelection()">
      <span aria-hidden="true"><</span>
      <span class="pl-3">Alterar forma de pagamento</span>
    </a>
  </div>

  <div class="bxs-checkout-cardcontent">
  
    <div class="bxs-checkout-cardtitle d-flex">
      <img src="assets/img/card-icon.svg" class="pr-3">
      <h3>Adicione um novo <br>cartão de crédito</h3>
    </div>

    <div class="bxs-checkout-card">
      <img class="bxs-checkout-cardimg" src="assets/img/card-empty.svg">
    </div>

  </div>

  <div class="bxs-checkout-content">
    <bxs-checkout-form
      (submitPayment)="handleSubmitPayment($event)">
    </bxs-checkout-form>
  </div>

</div>