@import 'src/scss/colors';
@import 'src/scss/variables';

h3 {
  font: Bold 16px/20px Verdana;
}

.bxs-checkout {
  min-height: 596px;
  min-width: 1024px;
}

.bxs-checkout__header {
  background-color: $primary;
  flex-grow: 1;
}
.bxs-checkout__back-btn {
  width: 8px;
  height: 14px;
  color: $white;
  padding-left: 53px;
  position: relative;
  cursor: pointer;
  top: 40px;
  font: 13px/22px Verdana;
}
.bxs-checkout__card-content {
  z-index: 1;
  margin: 120px -64px 0 -302px;
}
.bxs-checkout__card-title {
  color: $white;
}
.bxs-checkout__card-img {
  width: 365px;
  height: 246px;

  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../../../../assets/img/card-empty.svg);

  &.visa {
    background-image: url(../../../../assets/img/visa-background.svg);

    &.cvv {
      background-image: url(../../../../assets/img/visa-cvv-background.svg);
    }
  }

  &.cvv {
    background-image: url(../../../../assets/img/card-cvv-empty.svg);
  }
}
.bxs-checkout__card-icon {
  width: 70px;
  height: 23px;
  margin-top: 35px;

  background-repeat: no-repeat;
  background-size: contain;

  &.visa {
    background-image: url(../../../../assets/img/visa.png);
  }
}
.bxs-checkout__card-number,
.bxs-checkout__card-footer {
  color: $white;
  text-shadow: 0px 1px 2px #000000;
}
.bxs-checkout__card-info {
  min-width: 302px;
  display: flex;
}
.bxs-checkout__card-number {
  padding-top: 48px;
  letter-spacing: 2.50px;
  font: 26px "SF Pro Text";
}
.bxs-checkout__card-name,
.bxs-checkout__card-date {
  align-self: flex-end;
}
.bxs-checkout__card-footer {
  padding-bottom: 65px;
}

.bxs-checkout__form-wrapper {
  background-color: $white;
  flex-grow: 2;
  max-width: 672px;
}

// mobile view
@media(max-width: $max-width) {
  .bxs-checkout {
    flex-direction: column;
    min-width: 100vw;
    max-width: 100vw;
    height: 100%;
  }
  .bxs-checkout__header {
    height: 240px;
    min-height: 240px;
    flex-grow: 0;
  }
  .bxs-checkout__card-img {
    width: 272px;
    height: 184px;
  }
  .bxs-checkout__card-icon {
    margin-top: 27px;
    width: 53px;
  }
  .bxs-checkout__card-info{
    min-width: 232px;
  }
  .bxs-checkout__card-number {
    letter-spacing: 1.52px;
    padding-top: 30px;
    font-size: 21px;
    min-height: 25px;
  }
  .bxs-checkout__card-name,
  .bxs-checkout__card-date {
    font-size: 12px;
  }
  .bxs-checkout__card-footer {
    padding-bottom: 40px;
  }
  .bxs-checkout__card-content {
    margin: -177px auto -85px auto;
  }
  .bxs-checkout__card-title {
    justify-content: center;
  }
  .bxs-checkout__form-wrapper {
    max-width: 100%;
  }
}